{
  "port": "8080",
  "providers": ["gb","aws","ol"],
  "timeout": 5000,
  "gb": {
     timeout: 86400
  },
  "aws": {
     timeout: 86400,
     accessKeyId: 'xxxxxxxxxxxxxxxxxxxx',
     secretAccessKey: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
     associateTag: 'xxxxxxxx',
     imageSize: 'MediumImage'
  },
  "ol": {
     timeout: 86400,
     imageSize: 'medium'
  }
}

